body { 
    color:#9B7857;
    font-family: italiana;
    text-align: center;
}
.c{
    border: 3px solid #FFF2F2;
    border-radius: 30px;
    margin: 25px;
}

img {
    border-radius: 30px;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 24px;
}

.d{
    width: 60%;
    float: right;
}

.div{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10%;
    float: right;
    width: 80%;
    margin-top: 80px;
}

.b{
    width: 40%;
    float: left;
}
